body
{
    font-family: "Poppins", sans-serif;
}

nav a, nav button {
        position: relative;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: #a0a0a0;
        font-size: 18px;
        letter-spacing: 0.8px;
        padding: 0 15px;
    }

nav a::after {
        content: "";
        position: absolute;
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }

nav a:hover {
        color: #ffffff;
    }

nav a:hover::after {
        width: 100%;
    }

.penznemGomb {
    background-color: rgb(211, 211, 211);
    color: black;
}

.penznemGomb:hover {
    background-color: slategray;
}

.penznemGombSelect {
    background-color: black;
    color: white;
}