

.collbanner {
  --h: 480px;   
  --w: 920px;   
  --b: 8px;     
  --g: 14px;    
  --c: #000000; 
  
  width: var(--w);
  cursor: pointer;
  transition: .3s;
}
.collbanner:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.collbanner + .collbanner{
  border-radius: 50%;
}


.collbanner {
  align-items: center;
  gap: 50px;
}


  
  .flowerbanner {
    --h: 480px;   
    --w: 920px;   
    --b: 8px;     
    --g: 14px;    
    --c: #ffffff; 
    
    
    width: var(--w);
    cursor: pointer;
    transition: .3s;
  }
  .flowerbanner:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }
  
  .flowerbanner + .flowerbanner{
    border-radius: 50%;
  }
  
  
  .flowerbanner {
    align-items: center;
    gap: 50px;
  }



.grad{
  background: #ffffff;
  background:linear-gradient(#ffffff,#000000 20% ,  #000000);
}



.grafbanner {
  --h: 480px;   
  --w: 920px;   
  --b: 8px;     
  --g: 14px;    
  --c: #b71e11; 

  width: var(--w);
  cursor: pointer;
  transition: .3s;
}
.grafbanner:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.grafbanner + .grafbanner{
  border-radius: 50%;
}


.grafbanner {
  align-items: center;
  gap: 50px;
}



.corebtn
{
  color: white;
  background-color: black;
  border-color:black;
  padding: 9px;
  transition: .5s; 
}

.corebtn:hover
{
  color: black;
  background-color: transparent;
  border-color: white;
}

.grafbtn
{
  color: white;
  background-color: #b71e11;
  border-color: #b71e11;
  padding: 9px;
  transition: .5s; 
}

.grafbtn:hover
{
  color: white;
  background-color: transparent;
  border-color: #b71e11;
}

.flobtn
{
  color: white;
  background-color: black;
  border-color:white;
  padding: 9px;
  transition: .5s; 
}

.flobtn:hover
{
  color: black;
  background-color: white;
  border-color: white;
}