.gallery {
    --g: 8px; /* the gap */
    
    display: grid;
    clip-path: inset(1px); /* to avoid visual glitchs */
  }
  .gallery > .forgo {
    --_p: calc(-1*var(--g));
    grid-area: 1/1;
    width: 720px; /* control the size */
    aspect-ratio: 1;
    cursor: pointer;
    transition: .6s .2s;
  }
  .gallery > .forgo:first-child {
    clip-path: polygon(0 0, calc(100% + var(--_p)) 0 , 0 calc(100% + var(--_p)))
  }
  .gallery > .forgost-child {
    clip-path: polygon(100% 100%, 100% calc(0% - var(--_p)), calc(0% - var(--_p)) 100%)
  }
  .gallery:hover > .forgost-child,
  .gallery:hover > .forgorst-child:hover{
    --_p: calc(50% - var(--g));
  }
  .gallery:hover > .forgorst-child,
  .gallery:hover > .forgorst-child:hover + .forgo{
    --_p: calc(-50% - var(--g));
  }
  
  
  
  
      
      


#getthem{
    background-color: black;
    color: white;
    transition: 0.4s;
}

#getthem:hover{
    background-color: white;
    color: black;
    font-size: 19px;
    padding: 9px;
    transition: 0.4s;

}

#gomb{
    width: 35px ;
}

#gomb:hover{
    width: 60px;
}