#insta{
    background: -webkit-linear-gradient(right, blue, pink,red,yellow);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    -webkit-animation-direction: left,right;
}